{% extends '/user/base.html' %}

{% block content %}
<h1>Add admin...</h1><br>
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}



<div class="container">
    <div class="col-sm-6">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            <br>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br>
            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control") }}
            <br>
            {{ form.password_hash2.label(class="form-label") }}
            {{ form.password_hash2(class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <div class="col-sm-6"></div><br><br><br>
    <div class="col-sm-6">
        <table class="table table-hover table-border table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for my_admins in my_admin %}
            <tbody>
                <tr>
                    <td>{{ my_admins.id }}</td>
                    <td>{{ my_admins.username }}</td>
                    <td>{{ my_admins.name }}</td>
                    <td>{{ my_admins.email }}</td>
                    <td>
                        <a href="#"><span data-feather="edit-2" class="text-warning" data-bs-toggle="modal"
                            data-bs-target="#editModal{{my_admins.id}}"></a></span>
                        <a href="{{ url_for('delete', id=my_admins.id) }}"
                            onclick="return confirm('Are You Sure You want to Delete?')"><span data-feather="trash-2"
                                class="text-danger"></a></span>
                    </td>
                </tr>
            </tbody>

            <div class="modal fade" id="editModal{{my_admins.id}}" tabindex="-1" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Update agent</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{{ url_for('update', id=my_admins.id) }}" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input value="{{my_admins.name}}" type="text" class="form-control" name="name">
                                </div><br>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input value="{{my_admins.email}}" type="email" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input value="{{my_admins.username}}" type="text" class="form-control"
                                        name="password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-6"></div>
</div>

{% endblock %}